

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:ital,wght@0,400;0,700;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,400;1,600;1,800&display=swap');




*{

    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Space Mono', monospace;
font-family: 'Work Sans', sans-serif;
}
/*header*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
font-size: 2.8rem;
font-weight: 700;
color: #131313;

}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
margin-right: 40px;

}
nav li a{
    text-decoration: none;
    color:  #424242;
    text-align: center;
font-size: 18px;
font-weight: 500;
line-height: 26px;
}

/*banneer*/

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.bannertitle{
 font-size: 4rem;
 font-weight: 700px;
 color: #131313;
}

.bannerdesc{

    color: #131313;
    font-size: 1rem;
}

.btn-primary{
    width: 180px;
    height: 64px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    margin-bottom: 50px;
    border: 0px;
    cursor: pointer;
}

.banner img{
    width: 100%;
}




/*main*/


main{
    
    max-width: 1440px;
    margin-top: 70px auto;
    padding: 240px;

}


.features{
    
    display: flex; 
    align-items: center;
   
}

.team-image{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

}

.team-content{
    padding-right: 70px;
    padding-left: 70px;
}
.fet{
    color: #FF900E;
}
.ql{
    color:#727272;
}
.teamheading{
    font-size: 3rem;
}












/*responsive*/


@media screen and (max-width:576px) {

    header{
        padding: 20px;
    }
    
nav{
    flex-direction: column;
}


main{
    
    
    padding: 20px;

}

.features{
    flex-direction: column;
        
 }
 .team-image{
    grid-template-columns: 1fr;
 }

 .team-content{
    padding-right: 10px;
    padding-left: 10px;
}


}






@media screen and (min-width:576px) and (max-width: 960px) {

    header{
        padding: 50px;
    }
    
nav{
    flex-direction: column;
}


main{
    
    
    padding: 0px;
    margin-top: 70px;

}

.features{
    flex-direction: column;
        
 }
 .team-image{
    grid-template-columns: repeat(2, 1fr);
 }

 .team-content{
    padding-right: 100px;
    padding-left: 100px;
}



}