

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:ital,wght@0,400;0,700;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,400;1,600;1,800&display=swap');




*{

    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Space Mono', monospace;
font-family: 'Work Sans', sans-serif;
}
/*header*/
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
font-size: 2.8rem;
font-weight: 700;
color: #131313;

}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
margin-right: 40px;

}
nav li a{
    text-decoration: none;
    color:  #424242;
    text-align: center;
font-size: 18px;
font-weight: 500;
line-height: 26px;
}

/*banneer*/

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.bannertitle{
 font-size: 4rem;
 font-weight: 700px;
 color: #131313;
}

.bannerdesc{

    color: #131313;
    font-size: 1rem;
}

.btn-primary{
    width: 180px;
    height: 64px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    margin-bottom: 50px;
    border: 0px;
    cursor: pointer;
}

.banner img{
    width: 100%;
}




/*main*/


main{
    
    max-width: 1440px;
    margin-top: 70px auto;
    padding: 240px;

}


.features{
    
    display: flex; 
    align-items: center;
   
}

.team-image{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

}

.team-content{
    padding-right: 70px;
    padding-left: 70px;
}
.fet{
    color: #FF900E;
}
.ql{
    color:#727272;
}
.teamheading{
    font-size: 3rem;
}

/*features-love*/

.features-love{
     margin-top: 100px;
     display: flex;
     gap: 50px;
}

.flc-box{
    margin-top: 30px;
    max-width: 586px;
    height: 171px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}

.divider-flc{
    width: 5px;
    height: 106px;
    background: #FF900E;

}

.flc-header{
    display: flex;
     gap: 10px;
    align-items: center;
    
}

.flc-header h1{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
    width: 468px;  
}
p{
    max-width: 514px;  
    font-size: 1rem;
}

.features-love-immage{
    width: 90%;
    margin-left: 50px;

}



.features-love-box{
    width: 342px;
    height: 200px;
    border-radius: 8px;
    background: #FF900E;   
    position: relative;
    margin-left: -70px;
    margin-top: -100px;
    text-align: center;
    

}
.features-love-box h1{
    font-size: 4rem;
    color: #FFF;
    font-weight: 700; 
    margin: 0px;   
    
}
.features-love-box p{
    font-size: 1.5rem;
    color: #FFF;
    font-weight: 500;
    
}


/*some facts*/


.facts{

margin-top: 150px;

}

.fact-title{
      font-size: 3rem;
      font-weight: 700;
       color: #131313;
}


.facts-card-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 100px;
    
    
}

.fact-card{

    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;

padding: 50px;



}
.facts-card-container .card-stats{
    font-size:2.8rem ;
    color: #424242;
    font-weight:600 ;
    margin-top: 10px;
    margin-bottom: 10px;

}
.facts-card-container .card-title{
    

    font-size:1.2rem ;
    color:#727272;
    font-weight:600 ;

}


/*sponsor*/

.sponsor-head{
    align-items: center;
    text-align: center;

    
}

.sponsor-head h5{
    color: var(--dark-03, #727272);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;

}

.sponsor-image{

    margin-top: 50px;

    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}

.sponsor-image img{

    width: 165px;

}


footer{

    
}

.footerr{
    background-color:#FFF4E7 ;
    
    height: 100px; 
   
    padding: 0px 240px;
    
    text-align: center;
    justify-content: center;
    
}










/*responsive*/


@media screen and (max-width:576px) {

    header{
        padding: 20px;
    }
    
nav{
    flex-direction: column;
}


main{
    
    
    padding: 20px;

}

.features{
    flex-direction: column;
        
 }
 .team-image{
    grid-template-columns: 1fr;
 }

 .team-content{
    padding-right: 10px;
    padding-left: 10px;
}

.features-love{
    flex-direction: column;
    gap:0px;
}
.features-love-immage{
    max-width: 50%;
   margin: 10px;
}



.facts-card-container{
   flex-direction: column;
    
    
}
.sponsor-image{
    flex-direction: column;
}




}






@media screen and (min-width:576px) and (max-width: 960px) {

    header{
        padding: 50px;
    }
    
nav{
    flex-direction: column;
}


main{
    
    
    padding: 250px;

}

.features{
    flex-direction: column;
        
 }
 .team-image{
    grid-template-columns: repeat(2, 1fr);
 }

 .team-content{
    padding-right: 100px;
    padding-left: 100px;
}

.features-love{
    flex-direction: column;

}





.facts-card-container{
    flex-direction: column;
    
     
 }

 .sponsor-image{
    flex-direction: column;
 }



}